html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}
.App {
  height: 100vh;
}
.loginDiv {
  color: #5f6368;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #ffff00; */
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem;
  height: 7rem;
  cursor: pointer;
}

h3 {
  border-bottom: 2px solid #5f6368;
}

.linkDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
